@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


body {
    background-color:  hsl(185, 41%, 84%);
    font-family: 'space mono',sans-serif;
    width: 1340px;
    height: 1024px;
    position: absolute;
}

h1 {
    
    margin: 9.9rem 0 4.8rem 0;
    text-align: center;   
}

#logo {
    width: 89px;
}


.container {
    background-color:  hsl(0, 0%, 100%);
    width: 59%;
    height: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;    
    position: relative;
    border-radius: 15px;
    padding: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.bill-area {
    grid-column: 1/2;
    grid-row: 1/3;
    position: relative;
    padding: 10px;
    top: 2px;
}

.select-area {
    grid-column: 1/2;
    grid-row: 3/6;
    position: relative;
    padding: 20px 20px 20px 10px;
    bottom: 5px;
}

.number-area {
    grid-column: 1/2;
    grid-row: 6/8;
    position: relative;
    padding: 20px 20px 20px 10px;
    top: 10px;
}

#result {
    background-color: hsl(183, 100%, 15%);
    position: relative;
    grid-column: 2/3;
    grid-row: 1/8;
    border-radius: 15px;
    color: white;
    width: 82%; 
    padding: 40px;
}

.bill-box {
    border: none;
    background-color:hsl(189, 41%, 97%);
    padding: 3px;
    width: 91%;
    border-radius: 5px;
    position: relative;
    top: 5px;
}

.value {
    border: none;
    outline: none;
    background-color: transparent;
    color: hsl(183, 100%, 15%);
    font-weight: 600;
    width: 90%;
    text-align: right;
    cursor: pointer;
    font-size: 25px;
    height: 2.5rem;
    font-family: 'space mono', sans-serif;
}

.big {
    display: block;
    font-size: 0.9rem;
    position: relative;
}

.small {
    font-size: 15px;
    color: hsl(183, 22%, 34%);
    font-weight: 600;
}

.total {
    font-size: 45px;
    color: hsl(172, 67%, 45%);
    font-weight: 900;
}

button {
    background-color: hsl(183, 100%, 15%);
    color:hsl(189, 41%, 97%);
    border: none;
    width: 28.6%;
    height: 3rem;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    font-family: 'space mono', sans-serif;
}

#button-val {
    width: 27%;
    height: 2.8rem;
    border: none;
    outline: none;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
    font-family: 'space mono', sans-serif;
    font-weight: 600;
    color: hsl(183, 100%, 15%);
}

.reset-button {
    position: relative;
    background-color: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    font-size: 20px;
    top: 45%;
    width: 100%;
    font-weight: 600;
    font-family: 'space mono', sans-serif;   
}

#tips-percentage {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    top: 14px;
}

::placeholder {
    color:  hsl(186, 27%, 30%);
    font-size: 25px;
}

.label-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.error-msg {
    color: rgb(231, 84, 84);
    font-size: 16px;
    opacity: 0;
    font-weight: 700;
    right: 30px;
    position: relative;
}

.show-error-msg {
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.img {
    width: 12px;
    position: relative;
    left: 15px;
    bottom: 5px;   
}

.white {
    color: hsl(186, 24%, 70%);
    font-weight: 200;
    font-size: 12px;
    position: relative;
} 

.wrapper{
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-between; 
}

.bottom {
    position: relative;
    top: 35px;
}

.attribution { 
      font-size: 11px; 
    text-align: center;
    position: relative;
 }
.attribution a { color: hsl(228, 45%, 44%); }

/* hover */

button:hover {
    background-color: hsl(166, 54%, 75%);
    color: hsl(183, 100%, 15%);
}
button:focus{
    background-color: hsl(166, 77%, 52%);
    color: hsl(183, 100%, 15%);
}
button:active{
    background-color: hsl(167, 76%, 23%);
    color: hsl(183, 100%, 15%);
} 

#button-val:hover {
    border: solid 2px hsl(166, 71%, 70%);
}

.bill-box:hover {
    border: solid 2px hsl(166, 71%, 70%);
}

/* mobile veiw*/

@media (max-width:840px) {
    body{
        width: 375px;
        height: 933px;
    }

    h1 {
    
        margin: 3rem 0 1.6rem 0;
        text-align: center;   
    }
    
    #logo {
        width: 89px;
    }

    .container {
        width: 100%;
        height: inherit;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;    
        position: relative;
        border-radius: 15px;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(7,1fr);
    }

    .bill-area {
        position: relative;
        padding: 10px;
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
    }
    
    .select-area {
        position: relative;
        padding: 10px;
        grid-column: 1/2;
        grid-row: 2/4;
        top: 0;
        bottom: 10px;
        justify-self: center;
    }
    
    .number-area {
        grid-column: 1/2;
        grid-row: 4/5;
        position: relative;
        padding: 10px;
        justify-self: center;
        top: 35px;
    }

    #result {
        background-color: hsl(183, 100%, 15%);
        position: relative;
        justify-self: center;
        border-radius: 15px;
        color: white;
        width: 80%; 
        height: 220px;
        padding: 40px 30px 0 30px;
        grid-column: 1/2;
        grid-row: 5/8;
        top: 45px;
    }

    .bill-box {
        border: none;
        background-color:hsl(189, 41%, 97%);
        width: 98%;
        border-radius: 5px;
        position: relative;
        top: 5px;
    }

    .value {
        width: 85%;
        font-size: 30px;
        height: 2.5rem;
    }

    button {
        background-color: hsl(183, 100%, 15%);
        color:hsl(189, 41%, 97%);
        border: none;
        width: 47%;
        height: 3rem;
        border-radius: 5px;
        font-size: 25px;
    }

    #button-val {
        width: 40%;
        height: 2.5rem;
        font-size: 25px;
    }

    .reset-button {
        top: 50px;
        width: 100%;
        height: 2.8rem;
        font-size: 18px;
        font-weight: 600; 
    }

    #tips-percentage {
        flex-wrap: wrap;
        width: 100%;
        gap: 15px;
        top: 20px;
    }

    .total {
        font-size: 45px;
    }

    .big {
        font-size: 0.9rem;
        font-weight: 600; 
    }
    
    .small {
        font-size: 15px;
        font-weight: 600;
    }

    .white {
        color: hsl(186, 18%, 65%);
        font-weight: 200;
        font-size: 12px;
        letter-spacing: 0px;
    } 

    .img {
        width: 13px;
        position: relative;
        left: 12px;
        bottom: 5px;   
    }

    ::placeholder {
        font-size: 25px;
    }

    .error-msg {
        right: 20px;
    }

    .total {
        font-size: 32px;
        color: hsl(172, 67%, 45%);
        font-weight: 900;
    }

    .bottom{
        position: relative;
        top: 20px;
    }

}
